
body
{
	background-color: rgb(153,230,242);
}
.tableA
{
	background-color: rgb(164, 255, 125);
}
a
{
	text-decoration: none;
	color: black;
}
.category
{
	margin-right: 100%;
	margin-left: 0%;
	height: auto;
	width: 120px;
	font-size: 20px;
	background-color: rgba(214, 123, 176, 0.712);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
}
.little-squares
{
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 90px;
	margin-block-start: 10%;
	margin-left: 15%;
	margin-right: 85%;
}
.aaa
{
	width: 800px;
	height: 800px;
	margin-left: 5%;
	margin-right: 95%;
}
.squareA
{
	float: left;
	width: 200px;
	height: 250px;
	border: 5px solid black;
	margin: 25px;
}
.squareB
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareC
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareD
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareE
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareF
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareG
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareH
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}
.squareI
{
	width: 200px;
	height: 250px;
	border: 5px solid black;
	float: left;
	margin: 25px;
}